{% extends 'layout.html' %}

{% block body %}
    <h1><i class="fa fa-plus"></i> Add vocabulary</h1>
    <hr>

    <form id="formAdd" class="form-group grid grid-elements-1 grid-gap-1">
        <input class="form-control textbox lg green" type="text" placeholder="Enter a Japanese term" id="japInput" required>
        <input class="form-control textbox lg green" type="text" placeholder="Enter the English translation" id="engInput" required>
        <div class="flex flex-gap-1 flex-gap-skip">
            <input class="form-control btn green" type="submit" value="Add">
            <input class="form-control btn" type="reset">
        </div>
    </form>

    <script type="text/javascript">
        window.addEventListener('load', () => {
            const formAdd = document.getElementById('formAdd');
            
            formAdd.addEventListener('submit', (e) => {
                const
                    xhr = new XMLHttpRequest(),
                    japTerm = document.getElementById('japInput').value,
                    engTerm = document.getElementById('engInput').value;

                xhr.open('POST', '/add/data/', true)
                xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
                xhr.send('json_data={"Japanese" : "'+japTerm+'", "English" : "'+engTerm+'"}');
            });
        });
    </script>
{% endblock %}